html,
body {
    height: 100%;
}

body {
    background-color: white;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-variant: normal;
    color: #000;
}

.ng-scope {
    width: 100%;
    height: 100%;
}

.card {
    position:absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.card h1{
    color:white;
    text-align: center;
    width:100%;
    margin-top:25%;
}